body {
  background-color: #131a31;
  padding: 2em;
  font-family: "Poppins", sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
li {
  display: inline;
  font-size: 1.5em;
  padding: 1em;
  font-weight: lighter;
}
h1 {
  color: #cd551a;
  display: inline;
  font-size: 2em;
  font-weight: 300;
  padding-top: 0px;
  margin-top: 20px;
}
a {
  text-decoration: none;
  color: #cd551a;
  font-weight: 300;
}

#nav-bar {
  display: flex;
  justify-content: space-between;
}

#links {
  display: flex;
}
#main {
  padding: 2em;
  color: white;
  font-size: 2rem;
}
.button {
  padding: 0.5em 2em;
  color: black;
  border-radius: 30px;
  border: 0px;
  font-size: 1em;
  background-color: #ff8448;
  font-weight: bolder;
  margin-right: 2em;
}

h5 {
  font-size: 2em;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.para {
  font-weight: lighter;
}

p {
  font-size: larger;
  margin-bottom: 4rem;
  margin-top: 1rem;
  padding-top: 0px;
}

/* Add a responsive style for screens that are less than 600px wide */
@media only screen and (max-width: 600px) {
  /* Make the nav bar take up the full width of the screen */
  #nav-bar {
    width: 100%;
  }
  /* Hide the links and only show the "Connect Wallet" button on small screens */
  #links {
    display: none;
  }
  #connect-wallet {
    display: block;
  }
  /* Make the main content take up the full width of the screen */
  #main {
    width: 100%;
  }
  /* Make the buttons stack vertically on small screens */
  .button {
    width: 100%;
  }
}
